.CartContent {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.item-image {
    flex: 0 0 100px;
    margin-right: 20px;
}

.item-image img {
    max-width: 100%;
}

.item-details {
    flex-grow: 1;
}

.quantity-section {
    margin-bottom: 10px;
}

.quantity-buttons button {
    background-color: #ff8a00;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.quantity-buttons button:hover {
    background-color: #da1b60;
}

.item-total {
    margin-top: 10px;
}

.item-total a {
    color: #da1b60;
    text-decoration: none;
    margin-left: 10px;
}

.item-total a:hover {
    color: #b01dce;
}

.cart-items-form p {
    margin-bottom: 10px;
}

.buyAllForm {
    margin-top: 20px;
}

.buyAllForm h3 {
    margin-bottom: 10px;
}

.buyAllForm select,
.buyAllForm input[type="text"],
.buyAllForm button {
    margin-bottom: 10px;
}

.buyAllForm select {
    width: 100%;
    padding: 5px;
}

.buyAllForm input[type="text"] {
    width: 100%;
    padding: 5px;
}

.buyAllForm button {
    background-color: #ff8a00;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.buyAllForm button:hover {
    background-color: #da1b60;
}

.error-message {
    color: red;
}
