.customer-info h2 {
    text-align: center;
    margin-bottom: 20px;
}

.customer-info ul {
    list-style-type: none;
    padding: 0;
}

.customer-info li {
    margin-bottom: 10px;
}

.customer-info label {
    font-weight: bold;
    margin-right: 10px;
}

/* Định nghĩa animation cho border */
.customer-info {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
    position: relative;
    animation: border-animation 2s infinite;
}

/* Định nghĩa animation cho border */
@keyframes border-animation {
    0% {
        border: 5px solid rgba(0, 0, 255, 0.3);
        /* Màu xanh dương, độ trong suốt 0.3 */
    }

    50% {
        border: 5px solid rgba(0, 0, 255, 0.6);
        /* Màu xanh dương, độ trong suốt 0.6 */
    }

    100% {
        border: 5px solid rgba(0, 0, 255, 0.3);
        /* Màu xanh dương, độ trong suốt 0.3 */
    }
}